.wrapper {
  margin: 0 auto 0;
  width: 450px;
  text-align: center;
}

.dialog-title {
  font-size: 14px;
}

.board button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  background: #bbb;
}

button.red {
  background: #ad0505;
  background: linear-gradient(to bottom, #555 0%,#ad0505 100%);
}

button.blue {
  background: #00F;
  background: linear-gradient(to bottom, #555 0%,#00F 100%);
}

.player {
  text-transform: capitalize;
}

.info .red {
  color: red;
}

.info .blue {
  color: blue;
}